{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}
<!--Start Style-->
<style>
	.stdbtn{
		width: 200px;
		background: #9d512c;
		color:#fff;
	}
</style>
<!--End Style-->
<!--Start Main Section-->
	<div class="container">
		<div class="row">
			<div class="col-sm-10" style="margin:8rem auto;">
				<div class="card">
					<div class="card-header text-center text-white" style="background:#9d512c;">
						<h3>Administration Change Password Form</h3>
					</div>
					<div class="card-body" style="background:lightblue;">
						<form method="POST">
							{% csrf_token %} 
							<div class="form-group">
								<label><strong>Current Password</strong></label>
								<input type="password" name="cpwd" placeholder="Enter Current Password..." class="form-control " required>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label><strong>New Password</strong></label>
										<input type="password" name="npwd" placeholder="Enter New Password..." class="form-control " required>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label><strong>Confirm New Password</strong></label>
										<input type="password" name="cnpwd" placeholder="Confirm New Password..." class="form-control " required>
									</div>
								</div>
							</div>
							<div class="form-group text-center">  
								<input type="submit" value="Change Password" class="stdbtn my-3">
							</div>
						</form>
					</div>
				</div> 
			</div>
		</div>
	</div>
<!--End Main Section-->

{% endblock %}