{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}
<!--Start Style-->
<style>
	.stdinp{
		width: 80%;
		height: 50px;
		border-radius: 5px;
	}
	.stdbtn{
		width: 150px;
		background: #9d512c;
		color:#fff;
	}
	.icc{
		color: #fff;
	}
	.ig{
		background: #9d512c;
	}
</style>
<!--End Style-->
<!--Start Main Section-->
	<div class="container">
		<div class="row">
			<div class="col-sm-10" style="margin:6rem auto;">
				<div class="card">
					<div class="card-header text-center text-white" style="background:#9d512c;">
						<h3>Book Issuence Form</h3>
					</div>
					<div class="card-body" style="background:lightblue;">
						<form method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label><strong>Student</strong></label>
								<div class="input-group ">
									<span class="input-group-text ig"><i class="fas fa-list icc"></i></span>
									<input list="stds" name="std" placeholder="--- Please Select A Student ---" class="form-control" required> 
									<datalist id="stds">
										{% for s in stds %}
											<option value="{{s.enrollment}}">{{s.enrollment}} [{{s.user.first_name}}]</option>
										{% endfor %} 
									</datalist>
								</div>
							</div>
							<div class="form-group">
								<label><strong>Book</strong></label>
								<div class="input-group ">
									<span class="input-group-text ig"><i class="fas fa-list icc"></i></span>
									<input list="books" name="book" placeholder="--- Please Select A Book ---" class="form-control" required>
									<datalist id="books">	
										{% for b in books %}
											<option value="{{b.bookname}}">({{forloop.counter}}). {{b.bookname}} [{{b.authorname}}]</option>
										{% endfor %}
									</datalist>
								</div>
							</div>
							<div class="form-group">
								<label><strong>ISBN</strong></label>
								<div class="input-group ">
									<span class="input-group-text ig"><i class="fas fa-list icc"></i></span>
									<input list="isbns" name="isbn" placeholder="--- Please Select An ISBN ---" class="form-control" required>
									<datalist id="isbns">
										{% for b in books %}
											<option value="{{b.isbnno}}">({{forloop.counter}}). {{b.isbnno}} [{{b.bookname}}]</option>
										{% endfor %}
									</datalist>
								</div>
							</div> 
							<div class="form-group text-center my-4">
								<input type="submit" value="Issue Book" class="stdbtn">
							</div>
						</form>
					</div>
				</div> 
			</div>
		</div>
	</div>
<!--End Main Section-->

{% endblock %}